{% extends 'base.html' %}

{% block content %}
<div class="container px-5">
    <h2 class="text-center mb-4">Thông Tin Hóa Đơn</h2>

    {% if error %}
    <div class="alert alert-danger text-center">{{ error }}</div>
    <div class="d-flex justify-content-end">
        
        <a href="{% url 'invoices_list' %}" class="btn btn-secondary me-1" style="width: 8rem;">Quay lại</a>
    </div>
    {% else %}

    <div class="card p-4 shadow-lg mb-5 p-5">
        <div style="width: 100%; height: max-content mx-5">
            <div style="width: max-content; height: max-content; float: left;">
                <p><strong>Mã hóa đơn:</strong> {{ invoice.MaHoaDon }}</p>
                <p><strong>Tên khách hàng:</strong> {{ invoice.TenKhachHang }}</p>
                <p><strong>Số phòng:</strong> {{ invoice.SoPhong }}</p>
                <p><strong>Ngày nhận:</strong> {{ invoice.NgayNhan|date:"d/m/Y" }}</p>
            </div>

            <div style="width: 50%;height: max-content; position: absolute; right: 25%">
                <div style="width: max-content; height: max-content; position: relative; margin: auto;">
                    <p><strong>Ngày lập:</strong> {{ invoice.NgayLapHoaDon|date:"d/m/Y" }}</p>
                    <p><strong>Địa chỉ:</strong> {{ invoice.DiaChi }}</p>
                    <p><strong>Loại phòng:</strong> {{ invoice.TenLoai }}</p>
                    <p><strong>Ngày trả:</strong> {{ invoice.NgayTra|date:"d/m/Y" }}</p>
                </div>
            </div>
    
            <div style="width: max-content; height: max-content; float: right;">
                <p><strong>Trạng thái:</strong> {{ invoice.TrangThai }}</p>
                <p><strong>Số điện thoại:</strong> {{ invoice.SoDienThoai }}</p>
                <p><strong>Giá phòng:</strong> {{ invoice.GiaPhong }}</p>
                <p><strong>Số ngày lưu trú:</strong> {{ invoice.NgayLuuTru }}</p>
            </div>
        </div>

        <h4 style="margin-top: 15px; text-align: center;">DỊCH VỤ SỬ DỤNG</h4>

        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Tên dịch vụ</th>
                    <th>Ngày sử dụng</th>
                    <th>Trạng thái</th>
                    <th>Giá dịch vụ</th>
                </tr>
            </thead>
            {% for service in services %}
            <tr>
                <td>{{ service.TenDichVu }}</td>
                <td>{{ service.NgaySuDung|date:"d/m/Y" }}</td>
                {% if service.TrangThai == "Đang chờ xử lý" %}
                <td>Đang chờ xử lý</td>
                {% elif service.TrangThai == "Đang xử lý"  %}
                <td>Đang xử lý</td>
                {% elif service.TrangThai == "Hoàn thành"  %}
                <td>Hoàn thành</td>
                {% endif %}
                <td>{{ service.GiaDichVu }}</td>
            </tr>
            {% endfor %}
        </table>

        <div style="width: 100%; height: max-content mx-5 mt-5">
            <div style="width: max-content; height: max-content; float: left;">
                <p><b>Tổng tiền phòng:</b> {{ invoice.TongTienPhong }}</p>
            </div>

            <div style="width: 50%;height: max-content; position: absolute; right: 25%">
                <div style="width: max-content; height: max-content; position: relative; margin: auto;">
                    <p><b>Tổng tiền dịch vụ:</b> {{ invoice.TongTienDichVu }}</p>
                </div>
            </div>
    
            <div style="width: max-content; height: max-content; float: right;">
                <p><b>Tiền thanh toán:</b> {{ invoice.TongTien }}</p>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <a href="{% url 'export_invoice_pdf' invoice.MaHoaDon %}" class="btn btn-outline-danger">⬇️ Xuất hóa đơn</a>
            <a href="{% url 'invoices_list' %}" class="btn btn-secondary me-1" style="width: 8rem;">Quay lại</a>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}