{% extends 'base.html' %}
{% block title %}Danh sách hóa đơn{% endblock %}

{% block content %}
<div class="container">
  <h2 class="text-center my-4">Danh Sách Hóa Đơn</h2>

  <!-- Nút thêm hóa đơn -->
  <div class="text-end mb-3">
    <a href="{% url 'add_invoices' %}" class="btn btn-success">➕ Thêm Hóa Đơn</a>
  </div>
  <!-- Form tìm kiếm hóa dơn -->
  <form method="GET" action="{% url 'search_invoices' %}" class="mb-3 p-3 bg-light rounded shadow-sm">
    <div class="row g-2 align-items-center">
      <div class="col-md-3">
        <input type="number" name="MaHoaDon" class="form-control" placeholder="Nhập mã hóa đơn" value="{{ request.GET.MaHoaDon }}">
      </div>
      <div class="col-md-3">
        <input type="date" name="NgayLapHoaDon" class="form-control" placeholder="Nhập ngày lập hóa đơn" value="{{ request.GET.NgayLapHoaDon }}">
      </div>
      <div class="col-md-3">
        <input type="number" name="TongTien" class="form-control" placeholder="Nhập tổng tiền hóa đơn" value="{{ request.GET.TongTien }}">
      </div>
      <div class="col-md-3">
        <select name="MaThue_id" class="form-select">
          <option value="">-- Mã thuê phòng --</option>
          {% for Ma in invoices_types %}
    <option value="{{ Ma }}" {% if request.GET.MaThue_id|default:'' == Ma|stringformat:"s" %}selected{% endif %}>{{ Ma }}</option>
{% endfor %}

        </select>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary w-100">🔍 Tìm kiếm</button>
      </div>
    </div>
  </form>


  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Mã Hóa Đơn</th>
        <th>Ngày Lập</th>
        <th>Tổng Tiền</th>
        <th>Mã Thuê</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
      <tr>
        <td>
          <a href="{% url 'detail_invoices' invoice.MaHoaDon %}" class="btn btn-primary btn-sm">
            <b>{{ invoice.MaHoaDon }}</b>
          </a>
        </td>
        <td>{{ invoice.NgayLapHoaDon }}</td>
        <td>{{ invoice.TongTien }}</td>
        <td>{{ invoice.MaThue_id }}</td>
        <td>
          <!-- Nút chỉnh sửa -->
          <a href="{% url 'edit_invoices' invoice.MaHoaDon %}" class="btn btn-primary btn-sm">✏️ Sửa</a>

          <!-- Nút xóa -->
          <form action="{% url 'delete_invoices' invoice.MaHoaDon %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm"
              onclick="return confirm('Bạn có chắc chắn muốn xóa hóa đơn này?');">
              🗑️ Xóa
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}