{% extends 'base.html' %}
{% block title %}Chỉnh sửa phòng{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4">Chỉnh sửa phòng</h2>
    
    <form action="{% url 'edit_room' room.MaPhong %}" method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="soPhong" class="form-label">Số phòng</label>
            <input type="number" class="form-control" id="soPhong" name="so_phong" value="{{ room.SoPhong }}" required>
        </div>
        
        <div class="mb-3">
            <label for="trangThai" class="form-label">Trạng thái</label>
            <select class="form-control" id="trangThai" name="trang_thai" required>
               
                <option value="Trống" {% if room.TrangThai == 'Trống' %}selected{% endif %}>Trống</option>
                <option value="Đã đặt" {% if room.TrangThai == 'Đã đặt' %}selected{% endif %}>Đang sử dụng</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="maLoai" class="form-label">Loại phòng</label>
            <select class="form-control" id="maLoai" name="ma_loai_id" required>
                {% for loai in loai_phongs %}
                    <option value="{{ loai.MaLoai }}" {% if loai.MaLoai == room.MaLoai_id %}selected{% endif %}>{{ loai.TenLoai }}</option>
                {% endfor %}
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
        <a href="{% url 'room_list' %}" class="btn btn-secondary">Hủy</a>
    </form>
</div>
{% endblock %}
