{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 text-center">
  <h2 class="mb-4">Trang chính - Nhân viên Lễ Tân</h2>
  <div class="card shadow-lg p-4">
    <h5 class="mb-3">Chức năng của bạn:</h5>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="{% url 'room_list' %}">
          Quản lý Phòng
        </a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'invoices_list' %}">
          Quản lý hóa đơn
        </a>
      </li>
      <li class="list-group-item">
        <a href="{% url 'usage_list' %}">
          Quản lý yêu cầu dịch vụ
        </a>
      </li>
     
    </ul>
  </div>
</div>
{% endblock %}
