{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 text-center">
  <h2 class="mb-4">Trang Chính - Nhân Viên {{ TenPhongBan }}</h2>


  <div class="card shadow p-4">
    <h5 class="mb-3 text-center">Danh Sách Công Việc</h5>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Số phòng</th>
          <th>Tên dịch vụ</th>
          <th>Trạng thái</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <td>{{ task.SoPhong }}</td>
          <td>{{ task.TenDichVu }}</td>
          <td>{{ task.TrangThai }}</td>
          <td>
            {% if task.TrangThai != "Hoàn thành" and task.TrangThai != "Đang xử lý" %}
              <form method="post" action="{% url 'accept' task.MaSuDung %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-sm">Chấp nhận</button>
              </form>
            {% elif task.TrangThai == "Đang xử lý" %}
              <span class="text-warning">Đang xử lý</span>
            {% elif task.TrangThai == "Hoàn thành" %}
              <span class="text-muted">Đã hoàn thành</span>
            {% endif %}
          </td>
          
        </tr>
        {% empty %}
        <tr><td colspan="4">Không có công việc nào.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
