{% extends 'base.html' %}
{% block title %}Danh sách người dùng{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Danh Sách Khách Hàng</title>
</head>

<body>
    <h2 class="text-center">Danh Sách Khách Hàng</h2>
    <!-- Nút thêm phòng -->
    <div class="text-end mb-3">
        <a href="{% url 'export_customer_excel' %}" class="btn btn-outline-primary ms-2" target="_blank">📥 Xuất danh sách khách hàng</a>

    </div>

    <!-- Form tìm kiếm hóa dơn -->
    <form method="GET" action="{% url 'search_customer' %}" class="mb-3 p-3 bg-light rounded shadow-sm">
        <div class="row g-2 align-items-center">
            <div class="col-md-3">
                <input type="text" name="TenKhachHang" class="form-control" placeholder="Nhập tên khách hàng"
                    value="{{ request.GET.TenKhachHang }}">
            </div>
            <div class="col-md-3">
                <input type="text" name="DiaChi" class="form-control" placeholder="Nhập địa chỉ"
                    value="{{ request.GET.DiaChi }}">
            </div>
            <div class="col-md-3">
                <input type="text" name="SoDienThoai" class="form-control" placeholder="Nhập số điện thọai"
                    value="{{ request.GET.SoDienThoai }}">
            </div>

            <div class="col-md-3">
                <button type="submit" class="btn btn-primary w-100">🔍 Tìm kiếm</button>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Mã Khách Hàng</th>
                <th>Tên Khách Hàng</th>
                <th>Địa Chỉ</th>
                <th>Số Điện Thoại</th>
                <th>Thao Tác</th>
            </tr>
        </thead>
        {% for customer in customers %}
        <tr>
            <td><a href="{% url 'detail_customer' customer.id %}" class="btn btn-primary btn-sm">
                    {{ customer.id }}
            </a></td>
            <td>{{ customer.TenKhachHang }}</td>
            <td>{{ customer.DiaChi }}</td>
            <td>{{ customer.SoDienThoai }}</td>
            <td> <!-- Nút chỉnh sửa -->
                <a href="{% url 'edit_customer' customer.id %}" class="btn btn-warning btn-sm">✏️ Sửa</a>

                <!-- Nút xóa -->
                <form action="{% url 'delete_customer' customer.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <input type="hidden" name="so_phong" value=""> <!-- Đảm bảo có name -->
                    <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('Bạn có chắc chắn muốn xóa khách hàng này?');">
                        🗑️ Xóa
                    </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

<style>
    a {
        text-decoration: none;
        color: #000;
    }
</style>

</html>
{% endblock %}