{% extends 'base.html' %}
{% block title %}Tổng dịch vụ đã đặt{% endblock %}

{% block content %}


<h2 class="text-center">Lịch Sử Dịch Vụ Đã Yêu Cầu</h2>

{% if services %}
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Mã dịch vụ</th>
            <th>Tên dịch vụ</th>
            <th>Giá tiền</th>
            <th>Trạng thái</th>
            <th>Thời gian</th>
        </tr>
    </thead>
    {% for service in services %}
    <tr>
        <td>
            <a href="{% url 'service_detail' service.MaDichVu %} " class="btn btn-primary">
                {{ service.MaDichVu }}</a>
        </td>
        <td>{{ service.TenDichVu }}</td>
        <td>{{ service.GiaDichVu }}</td>
        {% if service.TrangThai == "Đang chờ xử lý" %}
        <td><p class="btn btn-primary mb-0">Đã gửi yêu cầu</p></td>
        {% elif service.TrangThai == "Đang xử lý"  %}
        <td><p class="btn btn-warning mb-0">Đang chờ xử lý</p></td>
        {% elif service.TrangThai == "Hoàn thành"  %}
        <td><p class="btn btn-success mb-0">Hoàn thành</p></td>
        {% endif %}
        <td>{{ service.NgaySuDung|date:"d/m/Y" }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h4 class="text-center">Chưa có dịch vụ nào được yêu cầu</h4>
{% endif %}
<div class="text-end mb-3">
    <a href="{% url 'customer_rentroom' %}" class="btn btn-secondary">Quay lại</a>
</div>
{% endblock %}