{% extends 'base.html' %}
{% block title %}Phòng thuê{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Phòng đang thuê</title>
</head>

<body>
        <h2>Phòng đang thuê</h2>
        <!-- Nút thêm phòng -->
        <div class="text-end mb-3">
            <a href="{% url 'service_order' %}" class="btn btn-primary">Dịch vụ đã yêu cầu</a>


        </div>

        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Số phòng</th>
                    <th>Loại phòng</th>
                    <th>Trạng Thái</th>
                    <th>Ngày thuê</th>
                    <th>Ngày nhận</th>
                    <th>Ngày trả</th>

                 
                    <th>Thao tác</th>
                   
                </tr>
            </thead>
            {% for rentRoom in rentRooms %}
            <tr>
                <td>{{ rentRoom.SoPhong }}</td>
                <td>{{ rentRoom.TenLoai }}</td>
                <td>{{ rentRoom.TrangThai }}</td>
                <td>{{ rentRoom.NgayThue }}</td>
                <td>{{ rentRoom.NgayNhan }}</td>
                <td>{{ rentRoom.NgayTra }}</td>
                {% if rentRoom.TrangThai != 'Đã thanh toán' %}
    <td><a href="{% url 'request_service' rentRoom.MaThue %}" class="btn btn-success">➕ Gọi dịch vụ</a></td>
            {% else %}
                <td><span class="text-muted">Đã thanh toán</span></td>
            {% endif %}

            </tr>
            {% endfor %}
        </table>
</body>

</html>
{% endblock %}